!!!
%html(lang='ja')
  %head
    %meta(charset='utf-8')
    %meta(name='viewport' content='width=divice-width, initial-scale=1, shrink-to-fit=no')
    %meta(http-equiv='x-ua-compatible' content='ie=edge')

    %link(rel='stylesheet' href='./css/canvas.css')
  %body
    .container-fluid
      .row
        #wrapper
          %canvas#colors-sketch

        %div.tools

          %a.change-size(href="#colors-sketch" data-size='1' style='height: 8px; width: 8px;')
          %a.change-size(href="#colors-sketch" data-size='3' style='height: 10px; width: 10px;')
          %a.change-size(href="#colors-sketch" data-size='5' style='height: 12px; width: 12px;')
          %a.change-size(href="#colors-sketch" data-size='10' style='height: 15px; width: 15px;')
          %a.change-size(href="#colors-sketch" data-size='15' style='height: 18px; width: 18px;')
          %a.change-size(href="#colors-sketch" data-size='20' style='height: 20px; width: 20px;')

          %div.color-tools

          / %a.other-tools(href="#colors-sketch" data-tool='eraser') Eraser


    %script(src='./js/jquery-2.1.4.min.js')
    %script(src='./js/canvas.js')
